:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
}

form > .form-group {
  width: 100%;
  max-width: 600px;
}

form > .form-group > label {
  display: block;
  margin-bottom: 0.5rem;
}

form > .form-group > input,
form > .form-group > textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: none;
  color: #ffffff;
}

form > .form-group > input::placeholder,
form > .form-group > textarea::placeholder {
  color: #ddd;
  font-weight: normal;
}

form > .form-group > textarea {
  resize: vertical;
}

form > button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  background: var(--gradient-primary);
  color: #fff;
  cursor: pointer;
  width: 100%;
}
