<div class="prompt-hover">
  <img src="assets/images/profile-photo.webp" alt="profile photo" />
  <span class="prompt">Tolu is ...</span>
</div>
<div class="tablet-content">
  <span class="keyword" data-keyword="innovative">&lt;innovative/&gt;</span>
  <span class="keyword" data-keyword="team-player">&lt;team-player/&gt;</span>
  <span class="keyword" data-keyword="problem-solver"
    >&lt;problem-solver/&gt;</span
  >
  <span class="keyword" data-keyword="dreamer">&lt;dreamer/&gt;</span>
  <span class="keyword" data-keyword="tech-enthusiast"
    >&lt;tech-enthusiast/&gt;</span
  >
</div>
