<!--
  The main application component.
  It holds all the other components together.
-->
<app-preloader (animationFinished)="onPreloaderFinished()"></app-preloader>

<app-header [section]="activeSection()" (sectionChange)="handleSectionChange($event)"
            [isScrolled]="isScrolled()"></app-header>

<main class="container mx-auto px-4 sm:px-6 lg:px-8">
  <!--  <div style="height: 100vh">x</div>-->
  <app-summary #summary (viewWork)="handleSectionChange('projects')"></app-summary>
  <app-skills #skills></app-skills>
  <app-experience #experience></app-experience>
  <app-projects #projects></app-projects>
  <!--  <app-certifications #certifications></app-certifications>-->
  <app-contact #contact></app-contact>
</main>

<app-footer #footer></app-footer>
