* {
  max-width: 100% !important;
}

main {
  height: 100vh;
  min-height: fit-content;
}

/* Container that splits the page vertically */
.split-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6em;
  gap: 3em;
  padding: 0 2.5em;
}

/* Image in the split container */
.split-container > img {
  width: 20em;
  align-self: center;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  transition: transform 0.3s ease;
}

.split-container > img:hover {
  transform: translateY(-10px) scale(1.1);
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); */
}

.personality-tablet {
  position: relative;
  width: 350px;
  height: 400px;
  border-radius: 15px;
  background-color: #0a1b2a;
  border: 1px solid #273c54;
  overflow: hidden;
  display: none !important;
  flex-direction: row !important;
  align-items: center;
  justify-content: center;
  cursor: none;
  padding: 1rem; /* Add padding to prevent the gradient from touching the edges */
}

.prompt-hover {
  /* position: absolute; */
  transform: translateX(50%);
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  transition: transform 0.3s ease;
}

.prompt-hover.active {
  transform: translateX(0);
}

/* .prompt-hover.hidden {
  display: none;
} */

.prompt-hover > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.prompt-hover > .prompt {
  font-size: 1.5rem;
  font-weight: 600;
  color: #bdebea;
  background: -webkit-linear-gradient(#00f5a0, #00d9f5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* margin-top: 1rem; */
}

.prompt-hover .cursor {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #00f5a0;
  animation: pulse 1s infinite;
  z-index: 2;
}

.tablet-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
.personality-tablet::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(0, 245, 160, 0.05) 20%,
    rgba(0, 217, 245, 0.1) 40%,
    rgba(0, 245, 160, 0.05) 60%,
    transparent 100%
  );
  background-size: 300% 100%;
  background-position: -100%;
  transition: background-position 0.5s ease;
  z-index: 1;
}

.personality-tablet:hover::before {
  background-position: 100%;
}

.personality-tablet::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: repeating-linear-gradient(
      0deg,
      transparent,
      transparent 2px,
      #2980b9 3px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      transparent,
      transparent 2px,
      #2980b9 3px,
      transparent 4px
    ); */
  background-size: 20px 20px;
  background-position: center;
  z-index: 0;
}

.keyword {
  position: relative;
  font-size: 1.2rem;
  font-family: monospace;
  color: transparent;
  margin: 0.5rem 0;
  transition: all 0.3s;
  overflow: hidden;
  user-select: none; /* prevent text selection */
}

.keyword::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--gradient-primary);
  opacity: 0;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transition: all 0.3s ease;
  z-index: 2;
}

.keyword.highlighted {
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .keyword.highlighted::before {
  opacity: 1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
} */

/* Text content within the split container */
.split-container > div {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  text-align: center;
  align-items: center;
}

/* Styling for job role text */
.job-role {
  font-family: "Bangers", sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  font-weight: 400;
  color: var(--color-text-light);
  text-transform: uppercase;
}

/* Styling for the name text */
.name {
  font-size: 2.5rem;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    rgba(0, 245, 160, 1),
    rgba(0, 217, 245, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.02rem;
}

/* Styling for description text */
.description {
  font-size: 1rem;
  font-weight: 400;
  margin: 0.25rem 0;
  line-height: 1.75rem;
  letter-spacing: 0.01rem;
  max-width: 900px;
}

/* Contact button styling */
a.contact {
  display: inline-block;
  background: rgb(0, 245, 160);
  background: var(--gradient-primary);
  color: var(--color-text-dark);
  border-radius: var(--border-radius-round);
  text-decoration: none;
  width: fit-content;
  font-size: 1rem;
  padding: var(--space-s) var(--space-m);
  transition: transform 0.3s ease;
}

a.contact:hover {
  transform: scale(1.1);
}

/* Hide down-scroll arrow on mobile */
.down-scroll-arrow {
  display: none;
}

/* Section styles for about, projects, and skills */
section.about,
section.projects,
section.skills {
  padding: 8em 3em;
}

/* Section title styling */
section > span.section-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-accent);
  background: -webkit-linear-gradient(#00f5a0, #00d9f5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  transition: transform 0.3s ease;
}

section > span.section-title:hover {
  transform: translateX(10px);
}

section > span.section-title + div {
  margin-top: 1.75em;
}

section.about .content {
  margin-top: 1.75em;
  position: relative;
  padding: 1em 0;
}

/* Decorative line in the about section */
.decorative-line {
  position: absolute;
  width: 5px;
  height: 116px;
  border-radius: 2px;
  background: rgb(0, 245, 160);
  background: linear-gradient(
    90deg,
    rgba(0, 245, 160, 1) 0%,
    rgba(0, 217, 245, 1) 100%
  );
  left: -1.75em;
  top: 6pt;
}

.content > span {
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--color-text-light);
}

/* Styling for project cards */
section.projects {
  padding: 5em 10vw;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  color: #bdebea;
  text-align: center;
  margin-bottom: 3em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/* Styling for project cards */
.project-cards {
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
}

/* Individual project card styling */
.project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(28, 28, 28, 0.4);
  backdrop-filter: blur(20px);
  border-radius: 1.5em;
  overflow: hidden;
  width: 90%;
  max-width: 700px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Hover effect for project card */
.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Individual project card styling */
.mask {
  width: 100%;
  height: 220px;
  overflow: hidden;
  border-bottom: 2px solid #ffd700;
}

.mask > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

/* Image zoom on hover */
.project-card:hover .mask > img {
  transform: scale(1.1);
}

/* Project content styling */
.project-card .content {
  padding: 2em 1.5em;
  text-align: center;
  align-items: center;
}

/* Project title styling */
.project-title {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0.5em;
  color: #bdebea;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* Project description styling */
.project-description {
  font-size: 1rem;
  font-weight: 400;
  color: #d7e5ec;
  margin-bottom: 1.75em;
  line-height: 1.6em;
}

/* Project link styling */
.project-link {
  height: fit-content;
  text-decoration: none;
  background: rgb(0, 245, 160);
  background: linear-gradient(
    90deg,
    rgba(0, 245, 160, 1) 0%,
    rgba(0, 217, 245, 1) 100%
  );
  color: #252728;
  border-radius: 6px;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
  transition: background-position 0.3s ease, color 0.3s ease,
    transform 0.3s ease;
}

.project-link:hover {
  background-position: 100% 50%;
  color: #ffffff;
  transform: scale(1.05);
}

/* Project tags styling (container) */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  border-top: 1px solid rgba(189, 235, 234, 0.6);
  border-radius: 0 0 1.5em 1.5em;
}

/* Individual Tag */
.tag {
  font-size: 0.875rem;
  font-weight: 500;
  color: #bdebea;
  background-color: rgba(0, 217, 245, 0.1);
  padding: 0.3rem 0.75rem;
  border-radius: 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: default;
  user-select: none;
}

/* Hover Effect on Tag */
.tag:hover {
  background-color: rgba(0, 245, 160, 0.2);
  color: #ffffff;
}

/* More projects button styling */
.more-projects {
  margin-top: 3em;
  text-align: center;
}

/* View more button styling */
.view-more-link {
  font-size: 1.25rem;
  font-weight: 600;
  color: #bdebea;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  display: inline-block;
  background: none;
  border: 2px solid
    linear-gradient(90deg, rgba(0, 245, 160, 1) 0%, rgba(0, 217, 245, 1) 100%);
  transition: background 0.4s ease, color 0.4s ease, box-shadow 0.4s ease,
    transform 0.4s ease, border 0.4s ease;
  box-shadow: 0 6px 12px rgba(0, 217, 245, 0.2);
}

.view-more-link:hover {
  background: linear-gradient(
    90deg,
    rgba(0, 217, 245, 1) 0%,
    rgba(0, 245, 160, 1) 100%
  );
  border: none;
  color: #1c1c1c;
  box-shadow: 0 8px 16px rgba(0, 217, 245, 0.5);
  transform: translateY(-5px);
}

.view-more-link:active {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 217, 245, 0.3);
}

/* Skills section container */
section.skills {
  padding: 5em 3em;
  background-color: #041f31d0; /* Optional background color for the skills section */
  text-align: center;
}

/* Skills title styling */
section.skills .section-title {
  font-size: 2rem;
  font-weight: 700;
  color: #00f5a0;
  background: -webkit-linear-gradient(#00f5a0, #00d9f5);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2.5em;
}

/* Skills container for flex layout */
.skills-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}

/* Individual skill card */
.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 500px;
  padding: 2em 1.5em;
  background-color: rgba(28, 28, 28, 0.4);
  backdrop-filter: blur(10px);
  border-radius: 1.5em;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

/* Skill icon styling */
.skill .icon-container {
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
}

/* Skill title */
.skill h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #bdebea;
  margin-bottom: 1rem;
}

/* Progress bar container */
.skill .progress-bar {
  width: 100%;
  height: 10px;
  background-color: rgba(0, 217, 245, 0.2);
  border-radius: 5px;
  overflow: hidden;
  margin-top: 1rem;
}

/* Progress bar filling effect */
.skill .progress-bar .progress {
  height: 100%;
  background-color: rgba(0, 245, 160, 1);
  border-radius: 5px;
  transition: width 0.5s ease;
}

/* Hover effect on skill card */
.skill:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.shape {
  display: none;
}

/* Responsive design for tablets */
@media screen and (min-width: 768px) {
  .project-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
  }

  .project-card {
    width: 45%;
  }

  .split-container {
    margin-top: 10em;
  }

  .split-container > img {
    width: 25em;
    display: none;
  }

  .personality-tablet {
    display: flex !important;
  }

  section.about,
  section.projects,
  section.skills {
    padding: 5em 10em;
  }

  .content {
    display: flex;
    gap: 2em;
  }

  .content > span {
    font-size: 1.25rem;
  }

  .project-description {
    margin: 0;
  }

  .skills-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
  }

  .skill {
    width: 45%;
    max-width: 400px;
  }
}

/* Responsive design for small laptops */
@media screen and (min-width: 1024px) {
  header {
    height: 100vh;
    position: relative;
  }

  .split-container {
    position: relative;
    height: 100%;
    top: 0;
    padding: 0 10vw;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 10em;
    margin: 0;
  }

  .split-container > div {
    text-align: left;
    align-items: flex-start;
    min-width: 50%;
  }

  .personality-tablet {
    width: 250px;
    height: 300px;
    margin-left: 1em;
  }

  .name {
    font-size: 2.75rem;
  }

  a.contact {
    margin-top: 1em;
  }

  .down-scroll-arrow {
    display: block;
    position: absolute;
    left: 50%;
    margin-top: -10em;
    transform: translateX(-50%);
    animation: bounce 2s infinite;
    scale: 1.5;
  }

  section.about,
  section.projects,
  section.skills,
  #footer {
    margin-top: 0;
    padding: 5em 10vw;
    position: relative;
    z-index: 1;
  }

  .split-container,
  .down-scroll-arrow {
    z-index: 1;
  }

  .content {
    gap: 4em;
    line-height: 1.6em;
  }

  .decorative-line {
    left: -2em;
    top: 4pt;
    height: calc(100% - (4pt * 2));
  }

  .content > span {
    font-weight: 300;
  }

  /* Moving Shapes */
  .shape {
    display: block;
    position: fixed;
    stroke: rgba(255, 215, 50, 0.7);
    border-radius: 50%;
    animation: spinAndFloat 10s linear infinite;
    z-index: 0;
    will-change: transform;
  }

  .shape.one {
    width: 120px;
    height: 120px;
    top: 10%;
    left: 5%;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
  }

  .shape.two {
    width: 200px;
    height: 200px;
    top: 50%;
    left: 75%;
    animation-duration: 15s;
  }

  .shape.three {
    width: 100px;
    height: 100px;
    bottom: 10%;
    right: 10%;
    animation-duration: 12s;
    animation-timing-function: ease;
  }
}

/* Responsive design for bigger laptops */
@media screen and (min-width: 1440px) {
  .split-container {
    padding: 0 15vw;
  }

  section.about,
  section.projects,
  section.skills {
    padding: 5em 15vw;
  }
}

/* Animations for moving flowers (desktop only) */
@keyframes spinAndFloat {
  0% {
    transform: translate(0, 0) rotate(0deg) scale(1);
  }

  25% {
    transform: translate(20px, -30px) rotate(40deg);
  }

  50% {
    transform: translate(-15px, 25px) rotate(180deg) scale(1.2);
  }

  75% {
    transform: translate(-10px, -20px) rotate(320deg);
  }

  100% {
    transform: translate(0, 0) rotate(360deg) scale(1);
  }
}
